.CommuterPass {
   .minibanner{ background-repeat: no-repeat;
  background-size: cover; 
  background-position:center; }
   .left {
      display: flex;
      flex-direction: column;
      margin-right: 50px;

      button {

         border: none !important;
         outline: none !important;
         box-shadow: none !important;
      }
   }

   .BTN1 {
      background-color: #14C6A4;
      color: #ffffff;
      border-radius: 40px 10px 0 0;
   }
     button.BTN1:hover {
      background-color: #14C6A4 !important;
 
   }

   .BTN2 {
      background-color: #c4f2e8;
      color: #666666;
   }

  button.BTN2:hover, .btn.BTN2:hover {
  text-decoration: underline !important;
  background-color: #c4f2e8 !important;
  color: #666666 !important;
}

   .ConT {
      display: flex;
   }

   .right {
      text-align: center;

      h4 {
         font-size: 32px;
      }
   }

   .BTNG {
      display: flex;
      margin-top: 46.2px;
      justify-content: space-between;
   }

   #button-addon2 {
      background-color: #ffffff;
      line-height: 10px;
      border: solid #14c6a4 1px;
      border-left: none;
      color: #14C6A4;
   }

   .input-group {
      width: 771px;
      height: 56px;

      button {
         border: solid #14c6a4 1px;
         border-left: none;
      }

      input {
         border: solid #14c6a4 1px;
         border-right: none;
      }

      span {
         color: #14C6A4;
      }
   }

   .form-select {
      width: 240px !important;
      height: 56px;
      border: solid #14c6a4 1px !important;
      color: #14C6A4;
      box-shadow: none !important;
   }

   .form-select:focus,
   .form-control:focus,
   .form-control:focus-visible {
      outline: none !important;
      box-shadow: none !important;
      border-color: #14c6a4 !important;
   }

   .form-control {
      transition: none !important;
   }

   th {
      background-color: #f3f3f3 !important;
      color: #000000 !important;
      font-size: 16px;
   }

   td {
      font-size: 13.8px;
   }

   tr:hover td,
   .tractive td {
      background-color: #f3f3f3;
   }
   .SoldOut td {color: #9e9e9e;}

   .table {
      margin-top: 30px;
   }

   ul {
      text-align: left;
      margin-top: 30px;
      font-size: 12px;
   }

   // 상세보기 버튼
   .DBTN {
      color: #ffffff !important;
      background-color: #14C6A4 !important;
      border: 1px solid #14C6A4;
   padding: 0;
   }

   .DBTN:hover {
      color: #666666 !important;
      border: none !important;
   }

   // 페이지네이션 버튼
   .PBTN {

     
      border: none;
      width: 70px;
      font-weight: 500;
   }

   span {
      margin: 0 26px;
   }

  

   &:focus,
   &:active,
   &:focus-visible {
      outline: none !important;
      box-shadow: none !important;
      border: none !important;
   }


.PBTN.active {
 
   font-weight: bold;
}

.IC {
   color: #14C6A4;
}
.PNBTN button {background-color: #14C6A4;}
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}
.btn-primary {--bs-btn-active-bg:#14C6A4 ;} 
}